.background{
  background-color: #a1a2d0;
}

.txt1{
  text-align: center;
  font-family: 'Poppins', sans-serif;


}

.ouside{
}

.inside{
}
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 50px solid black;
  box-shadow: 10px 10px 10px 10px #212121;
}
