@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    background-color: #f7f7f7;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background-color: #c9c9c9;
	box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 2.5vh;
    z-index: -1;
}

.trevor-logo {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 11.5%;
    height: 30px;
    object-fit: cover;
    object-position: 0px -60px;
}

.page-title {
	position: absolute;
	left: 12.5%;
    top: 10px;
    margin-top: 0px;
}

.box {
    top: 7%;
    left: 1%;
	position: absolute;
	width: 10%;
	background-color:  #f7f7f7;
	padding:  8;
	border-style: solid;
	border-color: #c9c9c9;
	border-width:  8px ;
	text-align: center;
}

.wan {
	position: absolute;
  	background-color: green;
	left: 13%;
	top: 10.5%;
}

.home-link {
	position: absolute;
	top: 10px;
	right: 0.5%;
	width: 10%;
    margin: 0px;
}

.home-link a {
	text-decoration: none;
	color: black;
	transition-duration: 0.25s;
}

.home-link a:hover {
	color: rgb(226, 16, 16)
}

.project-link {
    position: absolute;
    top: 10px;
    right: 15.5%;
    width: 10%;
    margin: 0px;
}

.project-link a {
    text-decoration: none;
    color: black;
    transition-duration: 0.25s;
}

.project-link a:hover {
    color: rgb(226, 16, 16)
}

.button {
	position: absolute;
    margin: 0px;
	top: 10px;
	left: 82%;
	width: 7%;
}

.texteditor {
    display: flex;
    position: absolute;
	background-color: #c9c9c9;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    width: 55vw;
    border: 2.5px solid #36323a;
    border-radius: 10px;
}

.textfield {
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-color: #c9c9c9;
    color: #000000;
    border: none;
    outline: none;
    resize: none;
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    caret-color: #000000;
    padding-right: 10px;
    transition-duration: 0.25s;
}

.textfield::-webkit-input-placeholder {
    color: #000000;
}

.textfield::-webkit-scrollbar {
    width: 12px;
}

.textfield::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.textfield::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5); 
}

.cursor {
    transition: all 80ms;
}

.upload {
    position: absolute;
    color: black;
    width: 80px;
    height: 80px;
    left: 10vw;
    top: 30vh;
    background-color: #f3f3f3;
    border: 3px solid #c9c9c9;
    border-radius: 100px;
    transition-duration: 0.25s;
}

.upload:hover {
    border: 3px solid #000000;
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, .2);
}

.download {
    position: absolute;
    color: black;
    width: 80px;
    height: 80px;
    left: 10vw;
    top: 60vh;
    background-color: #f3f3f3;
    border: 3px solid #c9c9c9;
    border-radius: 100px;
    transition-duration: 0.25s;
}

.download:hover {
    border: 3px solid #000000;
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, .2);
}

.upload-file {
    display: none;
}

.download-file {
    display: none;
}

.material-icons-outlined.md-60 {
    position: relative;
    font-size: 60px;
    left: 13%;
    top: 10%;
}

.wordCount {
    position: absolute;
    color: black;
    background-color: #f3f3f3;
    border: 3px solid #c9c9c9;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    top: 10vh;
    left: 66vw;
    transition-duration: 0.25s;
    font-size: 25px;
}

.wordCount span {
    position: relative;
    left: 0.5vw;
	top: 0.5vh;
}

.wordCount .wordCountNumClass {
    position: relative;
    top: -0.05vh;
    /* left: 0vw; */
}

.original-link {
	position: absolute;
	bottom: -7%;
	left: 19%;
    width: 100%;
    margin: 0px;
}