
    body {background-color: #FFFFFF}
    p.p2 {margin: 0.0px 0.0px 12.0px 0.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000}
    li.li3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000}
    li.li4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; color: #0000e9; -webkit-text-stroke: #0000e9}
    li.li5 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; color: #0000e9}
    span.s1 {font-kerning: none}
    span.s2 {-webkit-text-stroke: 0px #000000}
    span.s3 {font: 12.0px Times; text-decoration: underline ; font-kerning: none; color: #0000e9; -webkit-text-stroke: 0px #0000e9}
    span.s4 {text-decoration: underline ; font-kerning: none; color: #0000e9}
    span.s5 {text-decoration: underline ; font-kerning: none; -webkit-text-stroke: 0px #0000e9}
    ol.ol1 {list-style-type: decimal}
    ol.ol2 {list-style-type: upper-roman}
  
table, th, td {
  border:1px dashed tan;
}

    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px GlyphWorld}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px GlyphWorld; min-height: 18.0px}

