/* MY WORK */
.journal-entry-container {
	padding-bottom: 30px;
	border-radius: 5px;
 	background-color: lightgrey;
 	margin: 30px;
	position: relative;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

.journal-entry-container:hover {
  background-color: #BDBDBF;
}


.journal-entry-container img {
	max-width: 20%;
	max-height: 20%;
	
}

.journal-entry-container p {
	padding: 15px 20px 0px 20px;
	
}

.journal-entry-image {
	width: 30%;
	float: left;
}

.journal-entry-text {
	width: 70%;
}


/* GENERAL */
h2{
	padding-left: 50px;
	padding-right: 50px;	
}

body {
	background-color: #E6F0F8;
}

img {
	max-width: 100%;
	max-height: auto;
}

h6 {
  padding-top: 20px;
  padding-bottom: 5px;
}

/* BODY */
.maintext {
	padding-left: 40px;
	padding-right: 40px;
}


/* NAVAGATION BAR */
.nav {
	background-color:#AAB7BC;
	padding: 10px 0px 10px 20px;
}

ul.nav {
	list-style-type: none;
	padding: 0px 40px 25px 40px;
	margin: 0;
	text-align: center;
}

li.nav {
	padding: 25px;
	font-size: 18px;
	
}

.nav a {
	float: right;
	color: #000000;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	padding: 0px;
	padding-right: 40px;
}

.nav a:hover {
	color: #474651;
}

.nav a:active {
	color: #474651;
}

#logo {
	float: left;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 0PX;
}

/* SLIDE SHOW */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* FOOTER */
.site-footer {
  background-color: #5f656b;
  padding: 15pxpx 20px 30px 20px;
  font-size: 15px;
  line-height: 24px;
  color: #dcddde;
}

.container {
  padding-right: 50px;
  padding-left: 50px;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px;
}

.site-footer h6 {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #dcddde;
}

.site-footer a:hover {
  color: #2d2d2e;
  text-decoration: none;
}

.footer-contacts {
  padding-left: 0;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 5px;
}

.footer-contacts li {
  display: block;
}

.footer-contacts a {
  color: #dcddde;
}

.footer-contacts a:active,
.footer-contacts a:focus,
.footer-contacts a:hover {
  color: white;
  text-decoration: underline;
}

.footer-contact.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 0px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  color: #dcddde;
  margin: 0;
}
