@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
  background-image: url("../html/img/CharityBG.jpeg");
  background-size: 100%, 100%;
}

.main_title {
  position: absolute;
  width: 100%;
  height: 125px;
  top: 0%;
  left: 0%;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 100px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.sub_title {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 150px;
  left: 0%;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 35px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}
