body{
    background-color:lightblue;
    text-align: center;
    color: orange;
}

h1{font-size: 40px;}

p{font-size: 25px;}

::placeholder{color: white;}

#story{
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: lightblue;
    color: white;
    border-color: lightblue;
    border-bottom-color: orange;
    border-width: 2px;
}
.word{
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: lightblue;
    color: orange;
    border-color: lightblue;
    border-width: 0px;
    border-bottom-color: orange;
    border-bottom-width: 2px;
}

#input{
    width: 500px;
    height: 60px;
    text-align: center;
    background-color: white;
    border-color: black;
    border-bottom-color: black;
    font-size: 20px;
    color: green;
}

#button{
    font-size: 20px;
    background-color: lightblue;
    color: white;
    border-radius: 13px;
    border-width: 2px;
    font-size: 20px;
    border-color: orange;
}
#submit{
    background-color: lightblue;
    color: white;
    border-radius: 13px;
    border-width: 2px;
    font-size: 16px;
    border-color: orange;
}
#para{
    display: inline-block;
    width: 600px;
    height: 300px;
    font-size: 20px;
    background-color: white;
    color: darkorange;
    overflow: auto;
}

