/* {
  font-family: 'Georgia', serif;
  homage jacob
} */

h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: 'Georgia', serif;
}

h3 {
  /*welcome to tds programmers hub text*/
  font-family: 'Optima', serif;
  font-size: 5vw;
  padding-left: 30px;
  padding-bottom: 20px;
  text-align: left;
}

li {
  color: red;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color:black;
}

a {
  /*names list*/
  color: floralwhite;
  font-family: 'Georgia', serif;
}
/* drop down menu*/
.dropbtn {
  background-image:linear-gradient(to bottom right, rgba(255, 255, 255, 0.2) 49.5%, transparent 50%);
  background-size: 200% 200%;
  background-position:bottom right;
  background-color: transparent;
  transition: 0.25s;
  color: white;
  font-size: 16px;

  font-family: 'Georgia', serif;

  /*top right menu*/
  border: none;
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left:auto;
  left:0;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0px;
  background: #f2b6b6;
  box-shadow: 0px 8px 16px 0px rgba(255,0,0,0.2);
  z-index: 1;
  transition: transform 0.3s;
  transform: scaleY(0);
  transform-origin: top;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 1000px;
  width: 300px;
  overflow: auto;
  margin: auto;
}


.dropdown-title {
  color: white;
  padding: 0px 20px 0px 20px;
  font-size: 40px;
}

.dropdown-description {
  /*description dropdown menu*/
  font-family: 'Georgia', serif;
  color: black;
  padding: 0px 20px 10px 20px;
  width: 75%;
  font-size: 20 px;
  border-bottom-color: red;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-left-radius: 2.5px;
}

.dropdown-content div {
  font-family: 'Georgia', serif;
  float: left;
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.dropdown-content a {
  /*dropdown font color*/

  color: black;

  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)) no-repeat, transparent;
  background-size: 0% 0%;
  background-position:center;
  transition: 0.25s;
}

.dropdown-content h4 {
  font-family: 'Georgia', serif;
  color: white;
  padding: 4px 8px;
  display: block;
  border-bottom-color: firebrick;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  font-size: 25px;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-size: 100% 100%;
}

.dropdown:hover .dropdown-content {
  transform: scaleY(1);
}
/*dropdown button*/
.dropdown:hover .dropbtn {
  background-position: top left;
}

h1.title {
  /*main title*/
  color: whitesmoke;
  font-size: 6.5vw;
  width: 70%;
  padding-top: 100px;
  padding-left: 75px;
  font-family: 'monospace;', Courier New;
  animation-name: displaytitle;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  overflow: hidden;
}

div.heading {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 0px;
  left: 5%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: auto;
}

div.menu {
  position: absolute;
  top: 5%;
  right: 0%;
  width: 30%;
  height: 50px;
  border-bottom-color: rgb(235, 217, 216);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  display: inline-flex;
  animation-name: displaymenu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  overflow: hidden;
}

div.main {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 500px;
  background-color: white;
}


div.examples {
  position: absolute;
  width: 99%;
  top: calc(100% + 700px);
}

div.example {
  display: inline-block;
  padding: 20px;
  width: 45%;
}

div.example iframe {
  width: 100%;
  height: 300px;
}

#jake.example iframe {
  height: 1490px;
}

#lindow.example iframe {
  height: 340px;
}

#lindow.example {
  position: relative;
  top: -1165px;
}

#leon.example iframe {
  height: 600px;
}

#leon.example {
  position: relative;
  top: -1165px;
  left: 745px;
}

div.example h1 {
  text-align: center;
  font-family: 'georgia', serif;
  font-size: 1.1vw;
}

div.example p {
  text-align: center;
  font-family: 'georgia', serif;
  font-size: 0.8vw;
}

div.bio {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  /*changed the transform from -50, -50 to this*/
  transform: translate(-30%, -20%);
  padding-left: 2vw;
  padding-top: 5vw;
  font-size: 0.6vw;
}

div.bio p {
  width: 25%;
  margin: auto;
  text-align: center;
  font-size: 1vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
  font-weight: bold;
  border-width: 5px;
  border-color: firebrick;
  border-style: solid;
}

#footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

#footer p {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: white;
  font-size: 15px;
}

img.backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

img.logo {
  width: 250px;
  padding: 45px 0px 0px 45px;
}

img.gym {
  position: absolute;
  width: 100%;
}

img.picture {
  float: right;
  transform: translate(-30%, -125%);
  width: 35%;
  padding: 2px;
}

img.divider {
  width: 100%;
  position: relative;
  left: 0px;
  bottom: -5px;
}

img.divider2 {
  width: 100%;
  position: relative;
  left: 0px;
  bottom: -30vh;
}

@keyframes displaytitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes displaymenu {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 30%;
    opacity: 1;
    overflow: visible;
  }
}

