html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  
}

#heading{
  background-color:firebrick;
  margin-left: -1.54%;
  margin-right: -1.54%
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: white;
}

p, li {
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: firebrick;
}

body {
  width: auto;
  margin: 40 auto;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;  
  color: darkred;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

a {
  color: pink;
}