<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.Gambatte</string>
	<key>Core Version</key>
	<string>0.5.0.689</string>
	<key>Name</key>
	<string>RIGHT BEFORE MISSINGNO (HOPEFULLY)</string>
	<key>ROM MD5</key>
	<string>3d45c1ee9abd5738df46d2bdda8b57dc</string>
	<key>Timestamp</key>
	<date>2021-11-07T00:59:06Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
