/* this is a comment in a css file, follows c/c++ standard for multiline comments */

/* the block below assigns the font to all p objects */
p {
	font-family: Verdana;

}

/* the # means 'box' is a unique id  that adds all of these attributes*/
#box {
	width: 5em;
	background-color:  lightskyblue;
	padding:  8;
	border-style: solid;
	border-color: darkblue;
	border-width:  8px ;
}


#circle {
  width: 110px;
  height: 110px;
  background: red;
 	border:1px blueviolet;
  border-radius: 50%;
}

/* the . adds this attribute to a class called 'wan'  */ 
.wan {
  font-family: Helvetica;  /* this will override the assignment to the p object */
  background-color: darkcyan;
}
