:root {
  --green: #928c8b;
  --white: #FFFFFF;
  --black: #000000;
}
  body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
  }

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
.btn {
  position: absolute;
  top: 20px;
  left: 500px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}
  
.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
  font-family: "Lucida Console", monospace;

}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
  font-family: TimesNewRoman;

}
